<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="algorithms.css" media="screen"/>
  <script src="align_algorithms.js"></script>
  <script src="algorithms.js"></script>
  
</head>

<body ng-app="myAlignmentTutor" ng-controller="matrix">

<div class="nav-side-menu"  >
    <div class="brand">Configuration</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <br>
                <li   data-target="#products" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-gift fa-lg"></i> SEQUENCES <span class="arrow"></span></a>
                </li>
                <ul  id="products">
                	<li>
                		<div class="form-group">
						      <h6 for="usr" style="margin-left: 10px;">Query Sequence 1 :</h6>
						      <h6 ng-bind="seq1" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>

			   		<li>
                		<div class="form-group">
						      <h6 for="usr" style="margin-left: 10px;">Query Sequence 2 :</h6>
						      <h6 ng-bind="seq2" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>		
                </ul>


                <li   data-target="#product" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-gift fa-lg"></i> ALIGNMENT TYPE <span class="arrow"></span></a>
                </li>
                <ul  id="product">
                   <li>
                		<div class="form-group">
						      <h6 ng-bind="aligntype" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>
                     
                </ul>


                <li  data-target="#service" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-globe fa-lg"></i> SCORING MATRIX <span class="arrow"></span></a>
                </li>  
                <ul  id="service">
                  	<li>
                		<div class="form-group">
						      <h6 ng-bind="scoringmatrix" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#" style="margin-left: 10px" ><i class="fa fa-car fa-lg"></i> GAP PENALTY <span class="arrow"></span></a>
                </li>
                <ul  id="new">
                  <li>
                  	<div class="form-group" >
						      <h6 ng-bind="gappen" style="margin-left: 10px; color: red"></h6>
			   		</div>
                  </li>
                </ul>


                 
            </ul>
            <br>
     </div>
   
</div>



<div   align="center"  style="width: calc(100% - 280px); float: right;">
  <h2 align= "center">Dynamic Table</h2>
  <br>
  <h4> Please fill the first row and column first </h4>
  <h4> Please fill the matrix in the same order as shown in the tutorials</h4>
  <br>
 <table  align= "center" style="min-height: 10px; min-width: 10px  border: 1px solid #ddd ;" >
  	<tr>
  		<th></th>
  		<th>-</th>
  		<th ng-repeat="x in query track by $index">{{x}}</th>
  	</tr>

  	<tr>
  		<td>-</td>
  		<td>  <input type="number" name="t" size="1" value="0" style="border-style: solid;" readonly="" align="center"> </td>
  		<td ng-repeat="x in query track by $index"> 
  			<input type="number"  style=" border-style: solid; background-color: red" ng-attr-id="{{ '0' + ($index+1).toString()}}" ng-model="myVal" ng-change="MainDpChecker($index+1,0,myVal,'0'+($index+1).toString())"> 
  		</td>
  	</tr>

  	<tr ng-repeat="d in db track by $index">
  		<td><b>{{d}}</b></td>
  		<td> <input type="number" style="border-style: solid; background-color: red;" ng-attr-id="{{($index+1).toString() +'0'}}" ng-change="MainDpChecker(0,$index+1,myVals,($index+1).toString()+'0')" ng-model="myVals"> </td>
  		<td ng-repeat="x in query track by $index" align="center">
  			<input  type="number" id="we" style="border-style: solid; background-color: red" ng-change= "MainDpChecker($index+1,$parent.$index+1,myVal,($parent.$index+1).toString()+($index+1).toString())"  ng-model="myVal"> 
  		</td>
  	</tr>	
 </table>
<br>
<br>

<div>

	<h4 id= "hint1" style="display: none;"> hint 1 : Try Again </h4>
	<h4 id= "hint2" style="display: none;"> hint 2 : Max( Horizontally left + Gap penalty, Vertically Top + Gap penalty,  Diagonally previous + value from Scoring Matrix)</h4>

	<br>
	<div ng-show = "disablebacktrack">
	<h2 align="center"> BACK - TRACK </h2>
	<br>
	<h4> Please fill the values from right to left </h4>
	
	<br>
	<table align= "center" style="min-height: 10px; min-width: 10px  border: 1px solid #ddd; border: 1px solid black;"  >
		<tr>
			<td ng-repeat="x in scoringmatrix track by $index"> <input type="number" style="border-style: solid;" align="center" ng-change="ValBacktrackChecker($index,myVal)" ng-model="myVal"> </td>
		</tr>	
	</table>
	</div>

	<br>
	<br>	
	<h2 align="center"> {{scoringmatrix}} </h2>
	<br>

	<br>

	<table  align= "center" style="min-height: 10px; min-width: 10px  border: 1px solid #ddd; border: 1px solid black;" >
	  	<tr>
	  		<th></th>	
	  		<th ng-repeat="x in matrixchar track by $index">{{x}}</th>
	  	</tr>

	  	<tr>
	  		<td> {{matrixchar[0]}}</td>
	  		<td ng-repeat="x in matrixvals[0] track by $index"> 
	  			<lable>{{x}}</lable>
	  		</td>
	  	</tr>

	  	<tr ng-repeat="d in matrixchar.slice(1,matrixvals.length)">
	  		<td>{{d}}</td>
	  		<td ng-repeat="x in matrixvals[$index] track by $index" align="center">
	  			<label>{{x}}</label> 
	  		</td>
	  	</tr>	
 	</table>
<br>
<br>
</div>




</div>

</body>
</html>
