<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="algorithms.css" media="screen" />
  <script src="algorithms.js"></script>

</head>
<body ng-app="myAlignmentTutor" ng-controller="matrix">

<div class="nav-side-menu"  >
    <div class="brand">Configuration</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <br>
                <li   data-target="#products" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-gift fa-lg"></i> SEQUENCES <span class="arrow"></span></a>
                </li>
                <ul  id="products">
                	<li>
                		<div class="form-group">
						      <h6 for="usr" style="margin-left: 10px;">Query Sequence 1 :</h6>
						      <h6 ng-bind="seq1" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>

			   		<li>
                		<div class="form-group">
						      <h6 for="usr" style="margin-left: 10px;">Query Sequence 2 :</h6>
						      <h6 ng-bind="seq2" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>		
                </ul>


                <li   data-target="#product" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-gift fa-lg"></i> ALIGNMENT TYPE <span class="arrow"></span></a>
                </li>
                <ul  id="product">
                   <li>
                		<div class="form-group">
						      <h6 ng-bind="aligntype" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>
                     
                </ul>


                <li  data-target="#service" >
                  <a href="#" style="margin-left: 10px"><i class="fa fa-globe fa-lg"></i> SCORING MATRIX <span class="arrow"></span></a>
                </li>  
                <ul  id="service">
                  	<li>
                		<div class="form-group">
						      <h6 ng-bind="scoringmatrix" style="margin-left: 10px; color: red"></h6>
			   			 </div>
			   		</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#" style="margin-left: 10px" ><i class="fa fa-car fa-lg"></i> GAP PENALTY <span class="arrow"></span></a>
                </li>
                <ul  id="new">
                  <li>
                  	<div class="form-group" >
						      <h6 ng-bind="gappen" style="margin-left: 10px; color: red"></h6>
			   		</div>
                  </li>
                </ul>


                 
            </ul>
            <br>
     </div>
   
</div>



<div   align="center"  style="width: calc(100% - 280px); float: right;">
  <h2 align= "center">Dynamic Table</h2>
  <br>
 <table  align= "center" style="min-height: 10px; min-width: 10px  border: 1px solid #ddd ;" >
  	<tr>
  		<th></th>
  		<th>-</th>
  		<th ng-repeat="x in query">{{x.text}}</th>
  	</tr>

  	<tr>
  		<td>-</td>
  		<td>  <input type="number" name="t" size="1" value="0" style="border-style: solid;" readonly="" align="center"> </td>
  		<td ng-repeat="x in query"> 
  			<input type="number" col="{{db.indexOf(d)+1}}" row="0" style=" border-style: solid;" id="we" ng-model="myVal" ng-change="valCheck(0,col,myVal,"ids")"> 
  		</td>
  	</tr>

  	<tr ng-repeat="d in db">
  		<td>{{d}}</td>
  		<td> <input type="number" name="t" size="1" col="0" row="{{$index+1}}" style="border-style: solid;"> </td>
  		<td ng-repeat="x in query" align="center">
  			<input col="{{db.indexOf(d)+1}}" row="{{$index+1}}" type="number" id="we" style="border-style: solid;" ng-change="valCheck(row,col,myVal,id)"  ng-model="myVal"> 
  		</td>
  	</tr>	
 </table>
<br>
<br>
<br>
<div>
	<h4 align="center"> {{scoringmatrix}} </h4>
	<br>

	<table  align= "center" style="min-height: 10px; min-width: 10px  border: 1px solid #ddd; border: 1px solid black;" >
	  	<tr>
	  		<th></th>	
	  		<th ng-repeat="x in matrixchar">{{x}}</th>
	  	</tr>

	  	<tr>
	  		<td> {{matrixchar[0]}}</td>
	  		<td ng-repeat="x in matrixvals[0]"> 
	  			<lable>{{x}}</lable>
	  		</td>
	  	</tr>

	  	<tr ng-repeat="d in matrixchar.slice(1,matrixvals.length)">
	  		<td>{{d}}</td>
	  		<td ng-repeat="x in matrixvals[$index]" align="center">
	  			<label>{{x}}</label> 
	  		</td>
	  	</tr>	
 	</table>
<br>
<br>
</div>






</div>



</body>
</html>
