<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="mainpagecss.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="mainselection.js"></script>
</head>
<body ng-app="myAlignmentTutor" ng-controller="mainselection">
<div class="jumbotron text-center">
  <h1>Sequence Alignment Tutor</h1>
</div>
<br>  
<div class="container" >
  <div class="row">
    <div id ="mainchoice" class="col-sm-6" ng-click="go('/algorithms')" style="background-color:lavender; height: 300px;"><a href = "algorithms.html">Algorithms</a>
    </div>
    <div id ="mainchoice" class="col-sm-6" ng-click="go('/tutorials')" style="background-color:lavenderblush; height: 300px;"><a href="tutorialpage.html">Tutorials</a>
    </div> 
  </div>
</div>  
<br>
<br>
<h3 align="center"> An educational web application which helps a layman understand global and local sequence alignment techniques in an interactive and illustrative manner </h3>
</body>
</html>
