#mainchoice {
	text-align: center; 
    vertical-align: middle;
    line-height: 300px;  
    font-size: 40px;
    font-family: Algerian


}
/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

